[run]
branch = True

source =
    libsecp256k1_py_bindings
    tests

omit =
    */test_bench.py

[paths]
source =
   libsecp256k1_py_bindings
   .tox/*/lib/python*/site-packages/libsecp256k1_py_bindings
   .tox/pypy*/site-packages/libsecp256k1_py_bindings

[report]
exclude_lines =
    no cov
    no qa

    # Ignore missing debug-only code
    def __repr__
    if self\.debug

    # Ignore non-runnable code
    if __name__ == .__main__.:
