*.log
*.pyc
/.cache
/.coverage
/.eggs
/.idea
/.mypy_cache
/.tox
/helpers
/libsecp256k1_py_bindings.egg-info
/build
/dist
/site
/wheelhouse
/pip-wheel-metadata

/libsecp256k1_py_bindings/_libsecp256k1.py
/libsecp256k1_py_bindings/libsecp256k1.dll
